<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>单页开发</title>
    <style>
        :root{
            --bgColor:yellowgreen;
        }
        h2{
            color:var(--bgColor);
        }
    </style>
</head>
<body>
    <h2>测试index页面</h2>
    <div id="root"></div>
<script type="text/javascript" src="/scripts/app.js"></script></body>
</html>